@font-face {
    font-family: 'FZdaHei';
    src: url(../font/FZDaHei-B02.ttf);
  }

.container-fluid {
    margin: 0;
    padding: 0;
}

/* banner部分 */
.DCshow-section-banner {
    width: 100%;
}

.DCshow-section-banner .banner {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: bottom left;
}

.DCshow-section-banner .banner h1 {
    padding: 193px 0 96px 27.152%;
    font-size: 62px;
    color: #9F0000;
    font-weight: 400;
    font-family: "FZDaHei";
    line-height: 71px;
    text-shadow: rgb(0, 0, 0, 0.16) 0 3px 6px;
    opacity: 1;
}

/* 页面主体部分 */
.DCshow-section-main {
    width: 100%;
}

.DCshow-section-main .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 657px;
    background-size: cover;
    background-position: bottom right;
}

/* 页面主体部分 - 导航栏 */
.DCshow-section-main .main .mb-3 {
    margin-bottom: 0 !important;
}

.DCshow-section-main .main .nav-pills .nav-link.active, .DCshow-section-main .main .nav-pills .show>.nav-link {
    color: #2C58B6;
    background-color: rgb(43, 87, 180, 0.1);
}

.DCshow-section-main .main .nav-pills .nav-link {
    border-radius: 0;
}

.DCshow-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 62%;
    margin: 0 auto;
    border-bottom: rgb(0, 0, 0, 0.1) solid 1px;
}

.DCshow-nav a {
    padding: 0 5px;
    line-height: 55px;
    font-size: 18px;
    color: #2C58B6;
}

.DCshow-nav a:hover {
    background-color: rgb(43, 87, 180, 0.1);
}

/* 页面主体部分 - 内容 */
.DCshow-main {
    width: 62%;
    min-width: 882px;
}

.DCshow-main-block {
    width: 100%;
    height: 230px;
    margin-top: 39px;
    background-color: rgb(5, 141, 249, 0.1);
}

.DCshow-main-block .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 41px;
}

.DCshow-main-block .header .title {
    position: absolute;
    top: -10px;
    line-height: 41px;
    padding: 0 40px;
    background-color: #058DF9;
    border-radius: 10px 10px 0 0;
    font-family: Microsoft YaHei !important;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 1;
}

.DCshow-main-block .header .more {
    align-self: flex-end;
    margin: 14px 4.308% 0 0 ;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 21px;
    color: rgba(44,88,182,1);
    opacity: 1;
}

.DCshow-main-block .content {
    width: 100%;
}

.DCshow-content {
    margin-left: 4.081%;
    width: 92.403%;
    height: 192px;
    list-style: none;
    overflow: hidden;
}

.DCshow-content li {
    padding: 4px 0;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(44,88,182,1);
    opacity: 1;
}

.DCshow-content li .time {
    float: right;
    font-size: 10px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 18px;
    color: rgba(119,119,119,1);
    opacity: 1;
}