footer {
  width: 100%;
  height: 400px;
  background-color: #000;
  min-width: 1200px;
}

.home-footer-info {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  padding-top: 40px;
  border-bottom: 1px solid #333;
}

.home-footer-info>li {
  list-style: none;
  height: 100%;
  width: 172px;
  float: left;
  margin-left: 62px;
}

.home-footer-info>li:last-child {
  width: 431px;
}

footer h5 {
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  padding-bottom: 10px;
}

.home-footer-aboutSite,
.home-footer-youthTeam,
.home-footer-aboutUs,
.home-footer-logo,
.home-footer-list,
.footer-account {
  list-style: none;
}

.home-footer-aboutSite a,
.home-footer-youthTeam a,
.home-footer-aboutUs a,
.home-footer-logo a {
  color: rgb(173, 173, 173);
  text-decoration: none;
  font-size: 14px;
}

.home-footer-list {
  margin-top: 4px
}

.home-footer-account {
  list-style: none;
  float: left;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  position: relative;
}

.home-footer-account:first-child {
  margin: 0;
}

.home-footer-account img:first-child {
  width: 100%;
  height: 100%;
}

.home-footer-weibo-QRcode,
.home-footer-QQ-QRcode,
.home-footer-wechat-QRcode {
  position: absolute;
  top: -150px;
  left: -20px;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: opacity .5s, width .2s, height .2s;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 0px;
}

.home-footer-account:hover .home-footer-weibo-QRcode,
.home-footer-account:hover .home-footer-QQ-QRcode,
.home-footer-account:hover .home-footer-wechat-QRcode {
  opacity: 1;
  width: 100px;
  height: 100px;
}

.home-footer-logo img {
  float: left;
}

.home-footer-logo-school {
  width: 265.2px;
}

.home-footer-logo-youth {
  width: 150px;
  margin-left: 14px;
}

.home-footer-line {
  height: 1px;
  width: 80%;
  margin: 0 auto;
  background-color: #333;
}

.home-footer-friendLink {
  width: 1200px;
  height: 142px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
  font-size: 14px;
}

.home-footer-friendLink-title {
  float: left;
  color: #666;
  border-top: 1px solid #fff;
  padding-top: 28px;
}

.home-footer-friendLink-list {
  float: left;
  width: 900px;
  padding-top: 20px;
  margin-left: 190px;
}

.home-footer-friendLink-list li {
  list-style: none;
  float: left;
  margin: 0 20px;
  padding-top: 8px;
}

.home-footer-friendLink-list li a {
  color: #666;
  text-decoration: none;
}

.home-footer-copyright {
  color: #666;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  padding-left: 40px;
}

.home-footer-copyright li {
  list-style: none;
  float: left;
  font-size: 14px;
  margin-left: 40px;
  line-height: 50px;
}