* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PingFang SC ExtraLight';
  src: url(../font/PingFang-SC-ExtraLight.otf);
}

/* 标题部分 */
.index-section-topic {
  position: relative;
  margin: 0 auto;
  padding-top: 60px;
  color: #fff;
  text-align: center;
  font-family: 'PingFang SC ExtraLight';
  z-index: 99;
}

.index-section-topic div:first-child {
  font-size: 106px;
  letter-spacing: 6px;
  font-weight: 200;
  line-height: 110px;
}

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-bg-full {
  opacity: 0.8;
  background-size: cover;
  background-position: center center;
}

.index-bg-full::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
}

.index-section-bg-info {
  color: #fff;
  font-size: 12px;
  position: fixed;
  bottom: 10px;
  right: 53px;
  height: 30px;
  z-index: 100;
}

.index-section-bg-info p {
  display: inline-block;
  line-height: 30px;
}

.index-section-bg-change {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
}

.index-section-bg-change img {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

/* 进入网站按钮 */
.index-section-btn {
  position: relative;
  z-index: 99;
  padding-top: 40px;
  text-align: center;
}

.index-section-btn button {
  color: #fff;
  font-family: 'PingFang SC ExtraLight';
  background: rgba(0, 0, 0, 0);
  width: 122px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 36px;
  cursor: pointer;
}

/* 功能卡片 */
.index-section-card {
  position: relative;
  z-index: 99;
  width: 480px;
  margin: 0 auto;
  padding-top: 46px;
  font-family: 'PingFang SC ExtraLight';
  overflow: hidden;
}

.index-section-card nav {
  height: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.index-section-card nav a {
  width: 160px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  line-height: 60px;
  text-decoration: none;
}

.index-section-card nav .active {
  color: #000;
  background: rgba(255, 255, 255, .8);
}

/* 标签内容 */
.index-section-card .tab-content {
  width: 100%;
  height: 240px;
  background: rgba(255, 255, 255, .8);
}

#tabs-1,
#tabs-3 {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.index-section-card-tabs-1-content {
  padding-top: 15px;
  width: 420px;
  margin: 0;
  text-align: justify;
}


.index-section-card-tabs-1-auther {
  height: 63px;
  line-height: 63px;
  text-align: right;
}

#tabs-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tabs-3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tabs-3 div span {
  padding-top: 6px;
  font-size: 14px;
}

/* 主页 */

.home-top {
  height: 64px;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .home-top {
    width: 578px;
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-top {
    width: ;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-top {
    /* width: 991px; */
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-top {
    width: 1199px;
    margin: 0 auto;
  }
}

#logo {
  display: inline-block;
  height: 64px;
  line-height: 64px;
}

.home-top-logo {
  height: 40px;
}

.home-top-right {
  float: right;
  line-height: 64px;
}

.home-top-right input {
  width: 230px;
  height: 32px;
  border: 1px solid rgba(151, 151, 151, 1);
  padding: 4px 0 4px 6px;
  border-radius: 8px;
  vertical-align: middle;
  font-family: 'PingFang SC ExtraLight';
}

.home-top-setting {
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.home-nav {
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  height: 40px;
}

.home-nav .nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.home-nav-item {
  background-color: rgba(0, 60, 164, 0.5);
  height: 100%;
  width: 300px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: background-color .26s;
}

.home-nav-item a {
  color: #fff;
  text-decoration: none;
  transition: color .26s;
}

.home-nav-item:hover {
  background-color: #fff;
}

.home-nav-item:hover a {
  color: #1E50AE;
}

.home-nav .nav li {
  list-style: none;
}

.nav-down {
  position: relative;
  visibility: hidden;
  z-index: 99;
  width: 100%;
}

.home-nav-item:hover .nav-down {
  visibility: visible;
}

.home-nav-item:hover .nav-down li {
  background-color: rgba(0, 60, 164, 0.5);
  position: relative;
  transition: background-color .26s;
}

.home-nav-item:hover .nav-down li a {
  color: #fff;
  text-decoration: none;
  transition: color .26s;
}

.home-nav-item:hover .nav-down li::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(248, 248, 248, 0.89)
}

.home-nav-item:hover .nav-down li:last-child::after {
  display: none;
}

.home-nav-item:hover .nav-down li:hover {
  background-color: #fff;
}

.home-nav-item:hover .nav-down li:hover a {
  color: #1E50AE;
}