* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PingFang SC ExtraLight';
  src: url(../font/PingFang-SC-ExtraLight.otf);
}


/* 启动页 */

/* 标题部分 */
.index-section-topic {
  position: relative;
  margin: 0 auto;
  padding-top: 60px;
  color: #fff;
  text-align: center;
  font-family: 'PingFang SC ExtraLight';
  z-index: 99;
}

.index-section-topic div:first-child {
  font-size: 106px;
  letter-spacing: 6px;
  font-weight: 200;
  line-height: 110px;
}

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-bg-full {
  opacity: 0.8;
  background-size: cover;
  background-position: center center;
}

.index-bg-full::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
}

.index-section-bg-info {
  color: #fff;
  font-size: 12px;
  position: fixed;
  bottom: 10px;
  right: 53px;
  height: 30px;
  z-index: 100;
}

.index-section-bg-info p {
  display: inline-block;
  line-height: 30px;
}

.index-section-bg-change {
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
}

.index-section-bg-change img {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

/* 进入网站按钮 */
.index-section-btn {
  position: relative;
  z-index: 99;
  padding-top: 40px;
  text-align: center;
}

.index-section-btn button {
  color: #fff;
  font-family: 'PingFang SC ExtraLight';
  background: rgba(0, 0, 0, 0);
  width: 122px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 36px;
  cursor: pointer;
}

/* 功能卡片 */
.index-section-card {
  position: relative;
  z-index: 99;
  width: 480px;
  margin: 0 auto;
  padding-top: 46px;
  font-family: 'PingFang SC ExtraLight';
  overflow: hidden;
}

.index-section-card nav {
  height: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.index-section-card nav a {
  width: 160px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  line-height: 60px;
  text-decoration: none;
}

.index-section-card nav .active {
  color: #000;
  background: rgba(255, 255, 255, .8);
}

/* 标签内容 */
.index-section-card .tab-content {
  width: 100%;
  height: 240px;
  background: rgba(255, 255, 255, .8);
}

#tabs-1,
#tabs-3 {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.index-section-card-tabs-1-content {
  padding-top: 15px;
  width: 420px;
  margin: 0;
  text-align: justify;
}


.index-section-card-tabs-1-auther {
  height: 63px;
  line-height: 63px;
  text-align: right;
}

#tabs-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tabs-3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tabs-3 div span {
  padding-top: 6px;
  font-size: 14px;
}


/* 主页 */

/* 导航部分 */
.home-top {
  height: 64px;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

  .home-top,
  .home-nav {
    width: 578px;
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-top {
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-top {
    /* width: 991px; */
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .home-top,
  .home-nav {
    width: 1199px;
    margin: 0 auto;
  }
}

#logo {
  display: inline-block;
  height: 64px;
  line-height: 64px;
}

.home-top-logo {
  height: 40px;
}

.home-top-right {
  float: right;
  line-height: 64px;
}

.home-top-right input {
  outline: none;
  width: 160px;
  height: 32px;
  border: 1px solid rgba(151, 151, 151, 1);
  padding: 4px 0 4px 6px;
  border-radius: 8px;
  vertical-align: middle;
  font-family: 'PingFang SC ExtraLight';
  transition: width .3s;
}

.home-top-setting {
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.home-nav {
  margin-top: 10px;
  height: 40px;
}

.home-nav .nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.home-nav-item {
  background-color: rgba(0, 60, 164, 0.5);
  height: 100%;
  width: 300px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: background-color .26s;
  -webkit-transition: background-color .26s;
  -moz-transition: background-color .26s;
  -ms-transition: background-color .26s;
  -o-transition: background-color .26s;

}

.home-nav-item a {
  color: #fff;
  text-decoration: none;
  transition: color .26s;
  -webkit-transition: color .26s;
  -moz-transition: color .26s;
  -ms-transition: color .26s;
  -o-transition: color .26s;
}

.home-nav-item:hover {
  background-color: #fff;
}

.home-nav-item:hover a {
  color: #1E50AE;
}

.home-nav .nav li {
  list-style: none;
}

.nav-down {
  position: relative;
  visibility: hidden;
  z-index: 99;
  width: 100%;
}

.home-nav-item:hover .nav-down {
  visibility: visible;
}

.home-nav-item:hover .nav-down li {
  background-color: rgba(0, 60, 164, 0.5);
  position: relative;
  transition: background-color .26s;
  -webkit-transition: background-color .26s;
  -moz-transition: background-color .26s;
  -ms-transition: background-color .26s;
  -o-transition: background-color .26s;
}

.home-nav-item:hover .nav-down li a {
  color: #fff;
  text-decoration: none;
  transition: color .26s;
  -webkit-transition: color .26s;
  -moz-transition: color .26s;
  -ms-transition: color .26s;
  -o-transition: color .26s;
}

.home-nav-item:hover .nav-down li::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(248, 248, 248, 0.89)
}

.home-nav-item:hover .nav-down li:last-child::after {
  display: none;
}

.home-nav-item:hover .nav-down li:hover {
  background-color: #fff;
}

.home-nav-item:hover .nav-down li:hover a {
  color: #1E50AE;
}

/* banner */

.home-banner {
  width: 1200px;
  height: 460px;
  margin: 0 auto;
  margin-top: 20px;
}

.home-banner-main {
  position: relative;
  display: inline-block;
  width: 824px;
  height: 435px;
}

.home-banner-main img {
  width: 824px;
  height: 435px;
}

.home-banner-right {
  width: 350px;
  height: 435px;
  float: right;
}

.home-banner-small {
  position: relative;
  width: 100%;
  height: 126px;
}

.home-banner-small img {
  width: 100%;
  height: 126px;
}

.home-banner-calendar {
  width: 100%;
  height: 288px;
}

.home-banner-calendar ul {
  list-style: none;
}

.home-banner-calendar-item {
  margin-top: 12px;
  height: 66px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-banner-calendar-item-datebox {
  width: 66px;
  height: 66px;
  background-color: rgba(0, 0, 0, .1);
  display: inline-block;
  padding: 6px;
}

.home-banner-calendar-item-content {
  padding: 8px;
  width: 250px;
  height: 66px;
  position: relative;
}

.home-banner-calendar-item-content::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(112, 112, 112, .25);
  position: absolute;
  bottom: 0;
}

.home-banner-calendar-item-day {
  font-size: 30px;
  color: rgba(44, 88, 182, 1);
  line-height: 30px;
  text-align: center;
}

.home-banner-calendar-item-mouth {
  text-align: center;
  font-size: 12px;
  color: rgba(44, 88, 182, 1);
  padding-top: 2px;
}

.home-banner-calendar-item-content-title {
  font-size: 16px;
  color: rgba(44, 88, 182, 1);
  line-height: 26px;
}

.home-banner-calendar-item-content-date {
  font-size: 12px;
  color: rgba(44, 88, 182, 1);
  line-height: 16px;
}

.home-new {
  width: 1200px;
  margin: 0 auto;
}

.home-new>div:first-child {
  margin-left: 0;
}

.home-new>div {
  display: inline-block;
  margin-left: 26px;
  width: 378px;
}

.home-new-channel {
  width: 100%;
  height: 70px;
  background-color: rgba(246, 136, 25, 1);
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  font-weight: 600;

}

.home-new-channel a {
  color: #fff;
  text-decoration: none;
}

.home-new-content {
  width: 100%;
}

.home-new-content ul {
  list-style: none;
}

.home-new-content-item {
  width: 100%;
  height: 66px;
  margin-top: 10px;
  padding: 0 15px;
  position: relative;
}

.home-new-content-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 348px;
  height: 1px;
  background-color: rgba(112, 112, 112, .25);
}

.home-new-content-item-title {
  padding-top: 4px;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer;
}

.home-new-content-item-title a {
  color: #1E50AE;
  text-decoration: none;
}

.home-new-content-item-title a:hover {
  color: rgb(55, 114, 241);
}

.home-new-content-item-info {
  padding-top: 2px;
  color: #777777;
  font-size: 12px;
}

.home-new-content-item-info time {
  padding: 12px;
}

/* 长 banner */

.home-banner-long {
  width: 1200px;
  height: 140px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.home-banner-long img {
  width: 100%;
  height: 100%;
}

/* 青春栏目 */

.home-youth {
  width: 100%;
  min-width: 1200px;
  height: 620px;
  background-color: rgba(236, 239, 241, 1);
}

.home-youth>div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.home-youth-top {
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
}

.home-youth-top::before,
.home-youth-top::after {
  content: "";
  width: 448px;
  height: 1px;
  background-color: #585858;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}

.home-youth-top-rectangle {
  width: 12px;
  height: 12px;
  background-color: #000;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  display: inline-block;
  margin: 0 16px;
}

.home-youth-top-title {
  font-size: 18px;
  font-weight: 600;
  color: #585858;
  line-height: 60px;
}

.home-youth-content {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

.home-youth-content-left {
  width: 230px;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: top;
}

.home-youth-content-left div:first-child {
  width: 100%;
  height: 340px;
  background-image: url(../img/home-youth-bg.png);
  background-size: cover;
  background-position: 100% 100%;
}

.home-youth-content-left div ul {
  list-style: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.home-youth-content-left div ul li {
  height: 64px;
  line-height: 64px;
  position: relative;
}

.home-youth-content-left div ul li a {
  color: #fff;
  text-decoration: none;
  transition: color .26s;
  -webkit-transition: color .26s;
  -moz-transition: color .26s;
  -ms-transition: color .26s;
  -o-transition: color .26s;
}

.home-youth-content-left div ul li a:hover {
  color: rgb(185, 185, 185);
}

.home-youth-content-left div ul li::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: rgba(206, 206, 206, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.home-youth-content-left-banner {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.home-youth-content-left-banner img,
.home-youth-content-center img,
.home-youth-content-right img {
  width: 100%;
  height: 100%;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.home-youth-content-center-item:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.home-youth-content-center {
  width: 704px;
  height: 500px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  vertical-align: top;
}

.home-youth-content-center>div {
  width: 332px;
  height: 240px;
  background: #000;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.home-youth-content-center-title {
  padding: 2px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: hsla(0, 0%, 100%, .7);
  z-index: 99;
  color: #000;
  font-size: 16px;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-youth-content-right {
  width: 254px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  overflow: hidden;
}

.home-imgvideo {
  height: 680px;
  width: 100%;
  min-width: 1200px;
  background-color: #222;
  text-align: center;
}

.home-imgvideo .home-imgvideo-top {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}

.home-imgvideo-top-title {
  color: #fff;
}

.home-imgvideo-top-rectangle {
  background-color: #fff;
}

.home-imgvideo-top::before,
.home-imgvideo-top::after {
  content: "";
  width: 430px;
  height: 1px;
  background-color: #585858;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}

.home-imgvideo-content {
  width: 1200px;
  margin: 0 auto;
}

.home-imgvideo-content-image {
  width: 100%;
  height: 350px;
}

.home-imgvideo-content-image-left {
  color: #fff;
  width: 200px;
  height: 100%;
  margin-right: 15px;
  float: left;
  background-image: url(../img/img-video.png);
  background-size: 100% 100%;
  position: relative;
  top: 0;
  transition: top .3s;
}

.home-imgvideo-content-image-left:hover {
  top: -8px;
}

.home-imgvideo-content-image-left-title {
  font-size: 24px;
  margin: 0 auto;
  padding-top: 114px;
}

.home-imgvideo-content-image-left-line {
  height: 1px;
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 60px;
}

.home-imgvideo-content-image-left-img {
  padding-top: 20px;
  font-size: 14px;
}

.home-imgvideo-content-image-left-video {
  padding-top: 10px;
  font-size: 14px;
}

.home-imgvideo-content-image-left a {
  color: #fff;
  text-decoration: none;
  transition: color .3s;
}

.home-imgvideo-content-image-left a:hover {
  color: rgb(170, 170, 170);
}

.home-imgvideo-content-image-center {
  width: 240px;
  height: 100%;
  margin-right: 15px;
  float: left;
}

.home-imgvideo-content-image-center>img {
  width: 100%;
  height: 100%;
}

.home-imgvideo-content-image-right {
  width: 729px;
  height: 100%;
  float: left;
}

.home-imgvideo-content-image-right li {
  float: left;
  width: 50%;
  list-style: none;
  height: 182px;
  padding-right: 8px;
  padding-bottom: 12px;
}

.home-imgvideo-content-image-right li a {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  color: #fff;
  opacity: .7;
  transition: opacity .5s;
}

.home-imgvideo-content-image-right li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-imgvideo-content-image-right-title {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, .7);
  line-height: 35px;
  text-align: left;
  padding-left: 20px;
  /* 溢出文字省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-imgvideo-content-image-right-title::before {
  content: "";
  height: 16px;
  width: 3px;
  background-color: #FFD500;
  position: absolute;
  left: 0;
  top: 22px;
  margin-top: -8px;
}

.home-imgvideo-content-image-right li a:hover {
  opacity: 1;
}

.home-imgvideo-content-video {
  height: 230px;
  width: 100%;
  margin-top: 17px;
}

.home-imgvideo-content-video li {
  list-style: none;
  height: 100%;
  width: 285px;
  margin-right: 20px;
  background-color: #fff;
  float: left;
  position: relative;
}

.home-imgvideo-content-video li:last-child {
  margin: 0;
}

.home-imgvideo-content-video li span {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 92px;
  margin-top: -16px;
  left: 142.5px;
  margin-left: -16px;
  opacity: 0;
  background-image: url(../img/start.png);
  background-size: 100% 100%;
  transition: opacity .3s;
  z-index: 998;
}

.home-imgvideo-content-video li:hover span {
  opacity: 1;
}

.home-imgvideo-content-video-show {
  height: 80%;
  width: 100%;
  position: relative;
}

.home-imgvideo-content-video-show a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: background-color .3s;
}

.home-imgvideo-content-video li:hover a {
  background-color: rgba(0, 0, 0, 0.35);
}

.home-imgvideo-content-video-show img {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-imgvideo-content-video-title {
  height: 20%;
  width: 100%;
  background-color: #fff;
  padding: 5px 8px;
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #000;
  min-width: 1200px;
}

.home-footer-info {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  padding-top: 40px;
  border-bottom: 1px solid #333;
}

.home-footer-info>li {
  list-style: none;
  height: 100%;
  width: 172px;
  float: left;
  margin-left: 62px;
}

.home-footer-info>li:last-child {
  width: 431px;
}

footer h5 {
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  padding-bottom: 10px;
}

.home-footer-aboutSite,
.home-footer-youthTeam,
.home-footer-aboutUs,
.home-footer-logo,
.home-footer-list,
.footer-account {
  list-style: none;
}

.home-footer-aboutSite a,
.home-footer-youthTeam a,
.home-footer-aboutUs a,
.home-footer-logo a {
  color: rgb(173, 173, 173);
  text-decoration: none;
  font-size: 14px;
}

.home-footer-list {
  margin-top: 4px
}

.home-footer-account {
  list-style: none;
  float: left;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  position: relative;
}

.home-footer-account:first-child {
  margin: 0;
}

.home-footer-account img:first-child {
  width: 100%;
  height: 100%;
}

.home-footer-weibo-QRcode,
.home-footer-QQ-QRcode,
.home-footer-wechat-QRcode {
  position: absolute;
  top: -150px;
  left: -20px;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: opacity .5s, width .2s, height .2s;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 0px;
}

.home-footer-account:hover .home-footer-weibo-QRcode,
.home-footer-account:hover .home-footer-QQ-QRcode,
.home-footer-account:hover .home-footer-wechat-QRcode {
  opacity: 1;
  width: 100px;
  height: 100px;
}

.home-footer-logo img {
  float: left;
}

.home-footer-logo-school {
  width: 265.2px;
}

.home-footer-logo-youth {
  width: 150px;
  margin-left: 14px;
}

.home-footer-line {
  height: 1px;
  width: 80%;
  margin: 0 auto;
  background-color: #333;
}

.home-footer-friendLink {
  width: 1200px;
  height: 142px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
  font-size: 14px;
}

.home-footer-friendLink-title {
  float: left;
  color: #666;
  border-top: 1px solid #fff;
  padding-top: 28px;
}

.home-footer-friendLink-list {
  float: left;
  width: 900px;
  padding-top: 20px;
  margin-left: 190px;
}

.home-footer-friendLink-list li {
  list-style: none;
  float: left;
  margin: 0 20px;
  padding-top: 8px;
}

.home-footer-friendLink-list li a {
  color: #666;
  text-decoration: none;
}

.home-footer-copyright {
  color: #666;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  padding-left: 40px;
}

.home-footer-copyright li {
  list-style: none;
  float: left;
  font-size: 14px;
  margin-left: 40px;
  line-height: 50px;
}