@font-face {
    font-family: 'FZdaHei';
    src: url(../font/FZDaHei-B02.ttf);
}

.img-list-banner {
    width: 100%;
    height: 379px;
    background-size: cover;
    background-position: 100% 100%;
}

.img-list-banner h1 {
    padding: 193px 0 96px 27.152%;
    font-size: 62px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: "FZDaHei";
    line-height: 71px;
    text-shadow: rgb(0, 0, 0, 0.16) 0 3px 6px;
    opacity: 1;
}

.content .tab_box {
    position: relative;
    padding: 0 18.75% 0 18.75%;
}
.content .tab_box .nav-pills .nav-link.active {
    background-color: rgba(44,88,182,0.1);
    color: #2C58B6;
}
.content .tab_box ul li a {
    font-size: 18px;
    color: #2C58B6;
    height: 56px;
    line-height: 40px;
}
.content .tab_box ul{
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
.content .tab_box .nav-item:nth-child(n+2) {
    margin-left: 87px;
}
.content .tab_box .tab-content {
    min-height: 561px;
    background-color: rgba(5,141,249,0.1);
}
.content .tab_box .tab-content .title {
    color: #ffffff;
    font-size: 16px;
    padding: 10px 40px 10px 40px;
    background-color: #058DF9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 70px;
}
.content .tab_box .tab-content .detail {
    padding: 56px 58px 28px 58px;
}
.content .tab_box .tab-content .detail .list-group-item {
    background-color: rgba(255,255,255,1);
}
.content .tab_box .tab-content p {
    color: #707070;
    font-size: 16px;
}
.content .tab_box .tab-content p:nth-child(n+2) {
    text-indent: 2em;
}
.footer {
    margin-top: 24px;
    min-height: 221px;
    background-color: #000000;
    color: #ffffff;
}
.footer .footer-top {
    padding-top: 17px;
    padding-bottom: 48px;
    border-bottom: 1px dashed #ffffff;
}
.footer span {
    font-size: 14px;

}
.footer .col-6 {
    font-size: 12px;
    margin-top: 18px;
}
.footer .col-6 a {
    color: #ffffff;
}
.footer .footer-top-fourth {
    line-height: 96px;
}
.footer .footer-top-fourth img {
    margin-right: 13px;
}
.footer .author p {
    font-size: 12px;
    color: #ffffff;
    margin-top: 13px;
    text-align: center;
}